<ion-view title="Visual Studio Online">
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-body">
                Browse the repositories in your Visual Studio Online account.
            </div>
            <div class="item">
                <a ng-href="#/repos" class="button button-block button-positive"> Repos </a>
            </div>
            <div class="item">
                <a ng-href="#/workitems" class="button button-block button-positive"> Work Items </a>
            </div>
        </div>
    </ion-content>
</ion-view>